  <div class="contactDiv">
  <form class="contactForm" action="https://formspree.io/techiediaries9@gmail.com" method="POST">
    <label for="name" class="contactLabel">Name</label>
    <input type="text" id="name" name="name" class="contactText" /><br />
    <label for="email" class="contactLabel">Email Address</label>
    <input type="email" id="email" name="_replyto" class="contactText" /><br />
    <label for="message" class="contactLabel">Message</label>
    <textarea name="message" id="message" class="contactMessage"></textarea><br />
    <input type="submit" value="Send" class="button" />
  </form>
</div>