<div class="card card-body mb-3 form">
  <h2 class="text-center">Please enter your account email</h2>
  <h3 *ngIf="this.failed">{{this.failed}}</h3>
  <form
    class="justify-content-center"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
  >
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="resetPassword.email"
        [ngClass]="{
          'is-invalid': email.errors && email.touched
        }"
        class="form-control"
        name="email"
        #email="ngModel"
        required
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      />

      <div
        [hidden]="!email.errors?.required"
        class="invalid-feedback"
      >
        Email required
      </div>

      <div
        [hidden]="!email.errors?.pattern"
        class="invalid-feedback"
      >
        Email is not valid
      </div>
    </div>


    <button
      [disabled]="!authForm.form.valid"
      class="btn btn-block btn-primary mb-1"
    >
      Send
    </button>
    <p class="errorState">{{this.errorState}}</p>
  </form>
  <button
    class="btn btn-link"
    routerLink='/login'
    routerLinkActive="link-active"
  >Back to login page
  </button>
</div>
