<h2>
    About PetHotel
</h2>
<p>
Pet Hotel is one of the world’s smallest marketplaces for unique, authentic places to stay and things to do, offering over 5
accommodations and 6 handcrafted activities, all powered by local hosts. An economic empowerment engine,
Pet Hotel has not helped a single hospitality entrepreneurs monetize their spaces and their passions while keeping the
financial benefits of tourism in their own communities. With more than five guest arrivals to date, and
accessible in 1 language across 220+ countries and regions, Pet Hotel promotes people-to-animal connection, community and
trust around the world.
</p>