<!-- START OF PROFILE  -->
<!-- START OF PROFILE  -->
<!-- START OF PROFILE  -->

<!-- Profile Info Screen -->
<div *ngIf="userData !== undefined">
  <div *ngIf="userData.data.role === 'user' || userData.data.role === 'publisher'">
    <h2>
      My Profile
    </h2>
    <div class="card ">
      <div class="card-body">
        <h6>Name</h6>
        <p>{{userData.data.name}}</p>
        <hr>
        <h6>Role</h6>
        <p>{{userData.data.role}}</p>
        <hr>
        <h6>Email</h6>
        <p>{{userData.data.email}}</p>
        <hr>
        <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deleteProfileModal">
          Delete Profile
        </button>
      </div>
      <br><br>
    </div>
  </div>
</div>

<!-- Delete Profile Modal -->
<div *ngIf="userData !== undefined" class="modal fade delete p-1" id="deleteProfileModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content p-2">
      <h5 class="modal-title alert alert-danger" id="deleteProfileModalLabel">Are you sure you want to delete
        profile<br> <b>"{{ userData.data.name }}"</b>
      </h5>
      <br><br>
      <button type="button" class="btn btn-danger mb-2" (click)="deleteProfile()" data-dismiss="modal">Delete
        Profile</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>

<!-- Show add a hotel button, if user role is publisher and user has no hotel -->
<div *ngIf="userData !== undefined" class="hostBtn">
  <button *ngIf="location === undefined && userData.data.role === 'publisher'" type="button" class="btn btn-primary "
    data-toggle="modal" data-target="#addHotelModal">Host a pet hotel
  </button>
</div>



<!-- START OF HOTEL -->
<!-- START OF HOTEL -->
<!-- START OF HOTEL -->

<!-- Hotel Info Screen -->
<h2 *ngIf="location !== undefined && userData !== undefined">
  My hotel
</h2>
<div *ngIf="location !== undefined" class="card">
  <img class="card-img-top resize-img" src="http://localhost:5000/uploads/{{location.data[0].photo}}"
    alt="photo_5d713995b721c3bb38c1f5d0.jpg" />
  <div class="card-body">

    <h6>
      Title
    </h6>
    <p>
      {{location.data[0].title}}
    </p>
    <hr>
    <h6>
      Description
    </h6>
    <p>
      {{ location.data[0].description }}
    </p>
    <hr>
    <h6>
      Animal types
    </h6>
    <p>
      {{ location.data[0].animalTypes }}
    </p>
    <hr>
    <h6>
      Services
    </h6>
    <p>
      {{ location.data[0].services }}
    </p>
    <hr>
    <h6>
      Address
    </h6>
    <p>
      {{ location.data[0].address }}
    </p>
    <hr>
    <h6>
      Price
    </h6>
    <p>
      {{location.data[0].costAmount}}€ / {{location.data[0].costType}}
    </p>
    <hr>
    <h6>
      Email
    </h6>
    <p>
      {{location.data[0].email}}
    </p>
    <hr>
    <h6>
      Price
    </h6>
    <p>
      {{location.data[0].phone}}
    </p>
    <hr>
    <h6>
      Posted
    </h6>
    <p>
      {{location.data[0].createdAt | date}}
    </p>
    <button type="button" class="btn btn-primary m-1" routerLink="">Preview Hotel</button>
    <button (click)="oldValues()" type="button" class="btn btn-warning m-1" data-toggle="modal"
      data-target="#editHotelModal">Edit
      Hotel</button>
    <button type="button" class="btn btn-warning m-1" data-toggle="modal" data-target="#changePhotoModal">Change Hotel
      Photo</button>
    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#deleteHotelModal">
      Delete Hotel
    </button>
  </div>
</div>

<!-- Edit Hotel Modal-->
<div *ngIf="location !== undefined" class="modal fade bd-example-modal-lg" id="editHotelModal" tabindex="-1"
  role="dialog" aria-labelledby="editHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editHotelModalLabel">Edit your hotel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input [(ngModel)]="this.location.data[0].photo" type="text" name="photo" [hidden]="true"
            value="{{location.data[0].photo}}" #photo>
          <label>Title</label>
          <input [(ngModel)]="this.location.data[0].title" type="text" class="form-control" name="title"
            value="{{location.data[0].title}}" #title /><br>
          <label>Description</label>
          <input [(ngModel)]="this.location.data[0].description" type="text" class="form-control" name="description"
            value="{{ location.data[0].description }}" #description /><br>
          <label>Address</label>
          <input [(ngModel)]="this.location.data[0].address" type="text" class="form-control" name="address"
            value="{{ location.data[0].address }}" #address /><br>
          <label>Price € (Amount)</label>
          <input [(ngModel)]="this.location.data[0].costAmount" type="text" class="form-control" name="costAmount"
            value="{{location.data[0].costAmount}}" #costAmount /><br>
          <div class="form-check inlineCheckBox">
            <label class="label">Price (Day or Hour)</label><br>
            <div class="form-row">
              <div class="custom-control custom-radio">
                <input (click)="getCostTypeValue($event)" class="custom-control-input" type="radio" name=costTypeRadios
                  id="Day" value="Day" [(ngModel)]="location.data[0].costType">
                <label class="custom-control-label pr-4" for="Day">
                  Day
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input (click)="getCostTypeValue($event)" class="custom-control-input" type="radio" name=costTypeRadios
                  id="Hour" value="Hour" [(ngModel)]="location.data[0].costType">
                <label class="custom-control-label" for="Hour">
                  Hour
                </label>
              </div>
            </div>
          </div>
          <br>
          <br>
          <label>Email address</label>
          <input [(ngModel)]="this.location.data[0].email" type="text" class="form-control" name="email"
            value="{{location.data[0].email}}" #email /><br>
          <label>Phone number</label>
          <input [(ngModel)]="this.location.data[0].phone" type="text" class="form-control" name="phone"
            value="{{location.data[0].phone}}" #phone />
        </div>
      </div>
      <div class="form-check editInlineCheckBox">
        <label class="label">Animal Types</label><br>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsEdit($event)" type="checkbox" value="Dogs"
              name="Dogs" id="Dogs" #inputsEdit>
            <label class="custom-control-label mr-2" for="Dogs">Dogs</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsEdit($event)" type="checkbox" value="Cats"
              name="Cats" id="Cats" #inputsEdit>
            <label class="custom-control-label mr-2" for="Cats">Cats</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsEdit($event)" type="checkbox" value="Other"
              name="Other" id="Other" #inputsEdit>
            <label class="custom-control-label mr-2" for="Other">Other</label>
          </div>
        </div>
      </div>
      <br>
      <div class="form-check editInlineCheckBox">
        <label class="label">Services</label><br>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesEdit($event)" type="checkbox" value="Food"
              name="Food" id="Food" #inputsEdit>
            <label class="custom-control-label mr-2" for="Food">Food</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesEdit($event)" type="checkbox" value="Toys"
              name="Toys" id="Toys" #inputsEdit>
            <label class="custom-control-label mr-2" for="Toys">Toys</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesEdit($event)" type="checkbox" value="Walking"
              name="Walking" id="Walking" #inputsEdit>
            <label class="custom-control-label mr-2" for="Walking">Walking</label>
          </div>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="editHotel()" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Hotel Modal-->
<div class="modal fade bd-example-modal-lg" id="addHotelModal" tabindex="-1" role="dialog"
  aria-labelledby="addHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addHotelModalLabel">Add Your Pet Hotel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="newLocation.title" type="text" class="form-control" name="title" #title /><br>
          <label>Description</label>
          <input [(ngModel)]="newLocation.description" type="text" class="form-control" name="description"
            #description /><br>
          <label>Address</label>
          <input [(ngModel)]="newLocation.address" type="text" class="form-control" name="address" #address /><br>
          <label>Price € (Amount)</label>
          <input [(ngModel)]="newLocation.costAmount" type="text" class="form-control" width="30px" name="costAmount"
            #costAmount /><br>
          <div class="form-check inlineCheckBox">
            <label class="label">Price (Day or Hour)</label><br>
            <div class="form-row">
              <div class="custom-control custom-radio">
                <input (click)="getCostTypeValue($event)" class="custom-control-input" type="radio" name=costTypeRadios
                  id="Day" value="Day">
                <label class="custom-control-label pr-4" for="Day">
                  Day
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input (click)="getCostTypeValue($event)" class="custom-control-input" type="radio" name=costTypeRadios
                  id="Hour" value="Hour">
                <label class="custom-control-label" for="Hour">
                  Hour
                </label>
              </div>
            </div>
          </div>
          <br>
          <br>
          <label>Email address</label>
          <input [(ngModel)]="newLocation.email" type="text" class="form-control" name="email" #email /><br>
          <label>Phone number</label>
          <input [(ngModel)]="newLocation.phone" type="text" class="form-control" name="phone" #phone />
        </div>
      </div>
      <div class="form-check editInlineCheckBox">
        <label class="label">Animal Types</label><br>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsNew($event)" type="checkbox" value="Dogs"
              name="Dogs" id="Dogs" #inputsNew>
            <label class="custom-control-label mr-2" for="Dogs">Dogs</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsNew($event)" type="checkbox" value="Cats"
              name="Cats" id="Cats" #inputsNew>
            <label class="custom-control-label mr-2" for="Cats">Cats</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkAnimalsNew($event)" type="checkbox" value="Other"
              name="Other" id="Other" #inputsNew>
            <label class="custom-control-label mr-2" for="Other">Other</label>
          </div>
        </div>
      </div>
      <br>
      <div class="form-check editInlineCheckBox">
        <label class="label">Services</label><br>
        <div class="form-row">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesNew($event)" type="checkbox" value="Food"
              name="Food" id="Food" #inputsNew>
            <label class="custom-control-label mr-2" for="Food">Food</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesNew($event)" type="checkbox" value="Toys"
              name="Toys" id="Toys" #inputsNew>
            <label class="custom-control-label mr-2" for="Toys">Toys</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" (click)="checkServicesNew($event)" type="checkbox" value="Walking"
              name="Walking" id="Walking" #inputsNew>
            <label class="custom-control-label mr-2" for="Walking">Walking</label>
          </div>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addHotel()" data-dismiss="modal">Add Pet Hotel</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Hotel Modal -->
<div *ngIf="location !== undefined" class="modal fade delete p-1" id="deleteHotelModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteHotelModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content p-2">
      <h5 class="modal-title alert alert-danger" id="deleteHotelModalLabel">Are you sure you want to delete your
        hotel<br> <b>"{{ location.data[0].title }}"</b>
      </h5>
      <br><br>
      <button type="button" class="btn btn-danger mb-2" (click)="deleteHotel()" data-dismiss="modal">Delete
        Profile</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>


<!-- Change Hotel Photo Modal -->
<div *ngIf="location !== undefined" class="modal fade delete p-1" id="changePhotoModal" tabindex="-1" role="dialog"
  aria-labelledby="changePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h5 class="modal-title" id="changePhotoModalLabel">Change your hotel photo (png, jpeg)</h5>
      </div>
      <br>
      <input class="m-auto" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" [(ngModel)]="photoUrl">
      <br>
      <div class="modal-footer">
        <button *ngIf="location.data[0] !== undefined" type="button" class="btn btn-warning" id="changePhotoId" data-dismiss="modal"
         (click)="changePhoto(location.data[0]._id, photoUrl)"
        >Save changes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- START OF ADMIN -->
<!-- START OF ADMIN -->
<!-- START OF ADMIN -->

<!-- Admin Title -->

<h2 class="alert alert-warning" *ngIf="userData !== undefined && userData.data.role === 'admin'">
  ADMIN TOOLS
</h2>

<!-- Admin Profile Info Screen -->
<div *ngIf="userData !== undefined">
  <a *ngIf="userData.data.role === 'admin'" class="collapseBtn" data-toggle="collapse" data-target="#collapseProfile">
    <h2 class="alert alert-primary">
      ADMIN / My Profile
      <span class="text-muted float-right">push to toggle</span>
    </h2>
  </a>
  <div class="card collapse" id="collapseProfile">
    <div class="card-body">
      <h6>Name</h6>
      <p>{{userData.data.name}}</p>
      <hr>
      <h6>Role</h6>
      <p>{{userData.data.role}}</p>
      <hr>
      <h6>Email</h6>
      <p>{{userData.data.email}}</p>
      <hr>
      <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deleteProfileModal">
        Delete Profile
      </button>
    </div>
    <br><br>
  </div>
</div>

<!-- Admin / List all Messages -->
<div class="daddy-div"
  *ngIf="userData !== undefined && userData.data.role === 'admin' && allMessagesData !== undefined">
  <a class="collapseBtn" data-toggle="collapse" data-target="#collapseMessages">
    <h2 class="alert alert-primary">
      ADMIN / Contact Messages<span class="text-muted float-right">push to toggle</span>
    </h2>
  </a>
  <div class="results collapse" id="collapseMessages">
    <div class="card-group" *ngFor="let item of allMessagesData.data">
      <div class="card resize-card m-2">
        <div class="card-body">
          <h6>#ID</h6>
          <p>{{item._id}}</p>
          <h6>Name</h6>
          <p>{{item.name}}</p>
          <h6>Email</h6>
          <p>{{item.email}}</p>
          <h6>Phone</h6>
          <p>{{item.phone}}</p>
          <h6>Message</h6>
          <p>{{item.msg}}</p>
          <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deleteMessageModal"
            (click)="passDeleteMessageData(item._id, item.msg)">
            Delete Message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admin / List all Users -->
<div class="daddy-div" *ngIf="userData !== undefined && userData.data.role === 'admin' && allUsersData !== undefined">
  <a class="collapseBtn" data-toggle="collapse" data-target="#collapseUsers">
    <h2 class="alert alert-primary">
      ADMIN / Users<span class="text-muted float-right">push to toggle</span>
    </h2>
  </a>
  <div class="results collapse" id="collapseUsers">
    <div class="card-group" *ngFor="let item of allUsersData.data">
      <div class="card resize-card m-2">
        <div class="card-body">
          <h6>#ID</h6>
          <p>{{item._id}}</p>
          <h6>Name</h6>
          <p>{{item.name}}</p>
          <h6>Role</h6>
          <p>{{item.role}}</p>
          <h6>Email</h6>
          <p>{{item.email}}</p>
          <h6>Created at</h6>
          <p>{{item.createdAt}}</p>
          <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#deleteUserModal"
            (click)="passDeleteUserData(item._id, item.name)">
            Delete User
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admin / Delete Message Modal -->
<div *ngIf="userData !== undefined" class="modal fade delete p-1" id="deleteMessageModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content p-2">
      <h5 class="modal-title alert alert-danger" id="deleteMessageModalLabel">Are you sure you want to delete
        this message?
      </h5>
      <br><br>
      <button type="button" class="btn btn-danger mb-2" data-dismiss="modal" id="deleteMessageId">Delete
        Message</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>

<!-- Admin / Delete User Modal -->
<div *ngIf="userData !== undefined" class="modal fade delete p-1" id="deleteUserModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog m-auto" role="document">
    <div class="modal-content p-2">
      <h5 class="modal-title alert alert-danger" id="deleteUserModalLabel">Are you sure you want to delete
        this user?
      </h5>
      <br><br>
      <button type="button" class="btn btn-danger mb-2" data-dismiss="modal" id="deleteUserId">Delete
        User</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>



<!-- START OF LOADING ANIMATION -->
<!-- START OF LOADING ANIMATION -->
<!-- START OF LOADING ANIMATION -->

<!-- Loading animation -->
<div class="d-flex justify-content-center">
  <div class="spinner-border mr-4" role="status"
    *ngIf="userData === undefined || userData.data.role === 'admin' && allUsersData === undefined">
    <h2 class="sr-only">Loading...</h2>
  </div>
</div>