.resize-img {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 90%;
	max-width: 40rem;
	height: auto;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 4px;
}

.card {
	margin: 1rem;
}

h2 {
	margin: 1rem;
}

h6 {
	font-weight: bold;
}

label {
	font-weight: bold;
}

.modal {
	padding: 1rem;
}

.modal-footer > .btn {
	width: 100%;
}

.delete {
	text-align: center;
}

.hostBtn {
	text-align: center;
}


.inlineCheckBox {
	padding: 0px;
	width: 50%;
	display: inline-block;
}

.editInlineCheckBox {
	padding-left: 20px;
	width: 50%;
	display: inline-block;
}

.form-row {
	padding-left: 6px;
}

.form > h3:active {
	transition: none;
	text-shadow: 0 0 5px rgb(150, 150, 150);
}

.form-check-input {
	display: inline-block;
}

/* .constAmount {
	width: 50%;
} */

.flexbox {
	display: flex;
	justify-content: space-evenly;
}

.collapseBtn {
	cursor: pointer;
}

.text-muted {
	font-size: 0.5em;
}

