<div *ngIf="userData !== undefined">
  <p>{{userData.data.name}}</p>
  <p>{{userData.data.role}}</p>
  <p>{{userData.data.email}}</p>
</div>

  <div *ngIf="location !== undefined" class="card">
    <img class="card-img-top resize-img" src="http://localhost:5000/uploads/{{location.data[0].photo}}"
      alt="Card image cap" />
    <div class="card-body">
      <h1 class="card-title">{{location.data[0].title}}</h1>
      <h5>
        {{ location.data[0].description }}
      </h5>
      <br>
      <h6>
        What kind of animals are allowed
      </h6>
      <p>
        {{ location.data[0].animalTypes }}
      </p>
      <hr>
      <h6>
        What's included
      </h6>
      <p>
        {{ location.data[0].services }}
      </p>
      <hr>
      <h6>
        Where your pet will stay
      </h6>
      <p>
        {{ location.data[0].address }}
      </p>
      <hr>
      <h6>
        How much you'll pay
      </h6>
      <p>
        {{location.data[0].costAmount}}€ / {{location.data[0].costType}}
      </p>
      <hr>
      <p class="card-text">
        <small class="text-muted">Posted: {{location.data[0].createdAt | date}}</small>
        <br><br>
        <button type="button" class="btn btn-secondary mr-1" routerLink="">Back</button>
        <button type="button" class="btn btn-primary mr-1" routerLink="">Contact Host</button>
        <button type="button" class="btn btn-primary mr-1" routerLink="">Show Reviews</button>
      </p>
    </div>
  </div>


<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status" *ngIf="userData === undefined">
    <h2 class="sr-only">Loading...</h2>
  </div>
</div>

<!-- <div *ngIf="userData === undefined">
  <h2 class="sr-only">Loading...</h2>
</div> -->