<div class="card card-body mb-3 form">
  <h2 class="text-center">Register</h2>
  <form
    class="justify-content-center"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
  >



    <div class="form-group">
      <label>Name</label>
      <input
        type="email"
        [(ngModel)]="authRegister.name"
        [ngClass]="{
        'is-invalid': name.errors && name.touched
      }"
        class="form-control"
        name="name"
        #name="ngModel"
        required
        minlength="2"
      />

      <div
        [hidden]="!name.errors?.required"
        class="invalid-feedback"
      >
        name required
      </div>

      <div
        [hidden]="!name.errors?.minlength"
        class="invalid-feedback"
      >
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="authRegister.email"
        [ngClass]="{
          'is-invalid': email.errors && email.touched
        }"
        class="form-control"
        name="email"
        #email="ngModel"
        required
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      />

      <div
        [hidden]="!email.errors?.required"
        class="invalid-feedback"
      >
        Email required
      </div>
      <div
        [hidden]="!email.errors?.pattern"
        class="invalid-feedback"
      >
        Email is not valid
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        [(ngModel)]="authRegister.password"
        [ngClass]="{
          'is-invalid': password.errors && password.touched
        }"
        class="form-control"
        name="firstName"
        #password="ngModel"
        required
        minlength="6"
      />
      <div
        [hidden]="!password.errors?.required"
        class="invalid-feedback"
      >
        Password required
      </div>
      <div
        [hidden]="!password.errors?.minlength"
        class="invalid-feedback"
      >
        Must be at least 6 characters
      </div>
    </div>
    <br>
    <button
      [disabled]="!authForm.form.valid"
      class="btn btn-block btn-primary mb-3"
    >
      Register
    </button>
    <p class="errorState">{{this.errorState}}</p>
  </form>
  <p>
    <a
      class="stretched-link"
      routerLink='/login'
      routerLinkActive="link-active"
    >Back to login page</a>
  </p>

</div>
