<nav class="navbar navbar-light bg-light p-4">
  <a routerLink='/home' routerLinkActive="link-active">
    <img src="../../../assets/logo1.jpg" alt="logo1">
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item h5">
      <a routerLink='/about' routerLinkActive="link-active">About</a>
    </li>
    <li class="nav-item h5">
      <a routerLink='/becomehost' routerLinkActive="link-active">Become Host</a>
    </li>
    <li class="nav-item h5">
      <a routerLink='/contact' routerLinkActive="link-active">Contact</a>
    </li>
    <li class="nav-item h5">
      <a routerLink='/signuplogin' routerLinkActive="link-active">SignUp/LogIn</a>
    </li>
  </ul>
</nav>
