<nav class="navbar navbar-light bg-light p-4">

  <!-- <a
    class="navbar-brand"
    href=""
  >
    <h2 class="ml-3">PetHotel</h2>
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item h5">
      <a
        class="nav-link disabled"
        href="#"
      >About</a>
    </li>
    <li class="nav-item h5">
      <a
        class="nav-link disabled"
        href="#"
      >Become Host</a>
    </li>
    <li class="nav-item h5">
      <a
        class="nav-link disabled"
        href="#"
      >Contact</a>
    </li>
    <li class="nav-item h5">
      <a
        class="nav-link disabled"
        href="#"
      >SignUp/LogIn</a>
-->
  <a
    routerLink=''
    routerLinkActive="link-active"
  >
    <img
      src="../../../assets/logo1.jpg"
      alt="logo1"
    >
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item h5">
      <a
        routerLink='/about'
        routerLinkActive="link-active"
      >
        <h4 class="navbarLink">About</h4>
      </a>
    </li>
    <li class="nav-item h5">
      <a
        routerLink='/becomehost'
        routerLinkActive="link-active"
      >
        <h4 class="navbarLink">Become a Host</h4>
      </a>
    </li>
    <li class="nav-item h5">
      <a
        routerLink='/contact'
        routerLinkActive="link-active"
      >
        <h4 class="navbarLink">Contact</h4>
      </a>
    </li>
    <li class="nav-item h5">
      <a
        routerLink='/signuplogin'
        routerLinkActive="link-active"
      >
        <h4 class="navbarLink">SignUp/LogIn</h4>
      </a>

    </li>
  </ul>
</nav>
