.input-length {
	width: 100%;
}

.label {
    text-align: left;
    width: 100%;
	justify-content: start;
	font-weight: bold;
}

.form {
	transition: 0.4s;
	max-width: 30rem;
	min-width: 20rem;
}

.card {
    margin: 0 auto;
}