<div
  class="modal-dialog m-auto text-center"
  role="document"
>
  <div class="modal-content p-2">
    <div class="card-body">
      <h4 class="modal-title"><b>Add your review</b></h4><br>
      <hr>
      <div class="modal-body">
        <label>Title</label>
        <input
          [(ngModel)]="this.newReview.title"
          type="text"
          class="form-control"
          name="title"
          #title
        /><br>
        <br>
        <div class="form-group purple-border">
          <label>Review</label>
          <br>
          <textarea
            [(ngModel)]="this.newReview.text"
            type="text"
            class="form-control"
            name="text"
            #text
          >
        </textarea>
        </div>
        <br>
        <label>Rating</label>
        <br>
        <div class="form-row">
          <div class="col-12 d-flex justify-content-center">
            <div class="custom-control custom-radio divInline">
              <input
                (click)="getReviewRating($event)"
                class="custom-control-input"
                type="radio"
                name=costTypeRadios
                id="1"
                value="1"
              >
              <label
                class="custom-control-label pr-4"
                for="1"
              >
                1
              </label>
            </div>
            <div class="custom-control custom-radio divInline">
              <input
                (click)="getReviewRating($event)"
                class="custom-control-input"
                type="radio"
                name=costTypeRadios
                id="2"
                value="2"
              >
              <label
                class="custom-control-label pr-4"
                for="2"
              >
                2
              </label>
            </div>
            <div class="custom-control custom-radio divInline">
              <input
                (click)="getReviewRating($event)"
                class="custom-control-input"
                type="radio"
                name=costTypeRadios
                id="3"
                value="3"
              >
              <label
                class="custom-control-label pr-4"
                for="3"
              >
                3
              </label>
            </div>
            <div class="custom-control custom-radio divInline">
              <input
                (click)="getReviewRating($event)"
                class="custom-control-input"
                type="radio"
                name=costTypeRadios
                id="4"
                value="4"
              >
              <label
                class="custom-control-label pr-4"
                for="4"
              >
                4
              </label>
            </div>
            <div class="custom-control custom-radio divInline">
              <input
                (click)="getReviewRating($event)"
                class="custom-control-input"
                type="radio"
                name=costTypeRadios
                id="5"
                value="5"
              >
              <label
                class="custom-control-label pr-4"
                for="5"
              >
                5
              </label>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
      >Close</button>
    </div>
  </div>
</div>
