<div class="reviewsContainer">
  <div
    *ngFor="let review of reviews"
    class="row"
    style="padding: 0; margin: 0;"
  >
    <div
      class="row reviewCard"
      style="border: 1px solid black;"
    >
      <div class="userPicDiv col-lg-3">
        <div><i
            class="fa fa-user fa-lg"
            aria-hidden="true"
            style="font-size: 50px; padding: 0.25em;"
          ></i></div>
        <!-- <p>Rating: {{review.rating}}</p> -->
        <app-star-rating [rating]="review.rating"></app-star-rating>
      </div>

      <div class="userTextDiv col-lg-8">
        <h4>{{review.title}}</h4>
        <hr>
        <p>{{review.text}}</p>
        <small>{{review.createdAt}}</small>
      </div>
      <hr>
    </div>
  </div>
</div>
