.resize-img {
	height: 400px;
	justify-content: center;
}

.card {
	justify-content: center;
	margin: 1rem;
	padding: 0px;
}

agm-map {
	height: 400px;
	width: 500px;
}

.container {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	display: block;
	justify-content: center;
}

.content {
	vertical-align: top;
	display: inline-block;
}
