.resize-img {
	justify-content: center;
	width: 100%;
}

.row {
	margin: 0.5rem;
}

.tooltipShow {
	position: absolute;
	transform: translate(-10%, -80%);
	width: 120px;
	height: 40px;
	display: block;
}

.card {
	justify-content: center;
	margin: 0.5rem;
}

.col-lg-6 {
	padding: 0px;
}

agm-map {
	padding: 0px;
	height: 400px;
	width: 100%;
}
/*
.map {
} */



.container {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	display: block;
	justify-content: center;
}

.content {
	vertical-align: top;
	display: inline-block;
}
