<!-- Locations -->

<div class="daddy-div">
  <h2 class="text-center mt-5">Most recent locations</h2>
  <div class="results">
    <div
      class="card-group"
      *ngFor="let item of locations"
    >
      <div class="card resize-card m-2">
        <img
          class="card-img-top resize-img"
          src="http://localhost:5000/uploads/{{item.photo}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title">{{item.title}}</h3>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p>
            price: {{item.costAmount}}€ / {{item.costType}}
          </p>
          <p class="card-text">
            <small class="text-muted">Posted: {{item.createdAt | date}}</small>
            <a
              type="button"
              class="btn btn-secondary ml-2"
              routerLink="/location/{{item.slug}}"
              (click)="passLocationId(item._id)"
            >View Details</a>
          </p>
        </div>
      </div>
    </div>
    <div
      class="pagination"
      *ngIf="locations !== undefined"
    >
      <button
        [disabled]="this.pagination.prev === undefined"
        (click)="changePagePrev('prev')"
        class="btn btn-info"
      ><i class="fa fa-chevron-left"></i></button>
      <h2 class="pageNumber">{{this.pageNumber}}/{{this.lastPage}}</h2>
      <button
        [disabled]="this.pagination.next === undefined"
        (click)="changePageNext('next')"
        class="btn btn-info"
      ><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>

  <!-- Map -->
  <agm-map
  class="m-2"
    [latitude]="latitude"
    [longitude]="lngitude"
  >
    <agm-marker
      *ngFor="let marker of locations"
      [latitude]="marker.location.coordinates[1]"
      [longitude]="marker.location.coordinates[0]"
    >
    </agm-marker>
  </agm-map>
  <div
    class="map-div m-2"
    *ngIf="locations !== undefined"
  >
    <!-- <img class="map-img" src="../../../assets/coming_soon_map.png" alt="" /> -->

  </div>
</div>
<div>

  <!-- Loading Screen -->

  <div class="d-flex justify-content-center">
    <div
      class="spinner-border m-4"
      role="status"
      *ngIf="locations === undefined"
    >
      <h2 class="sr-only">Loading...</h2>
    </div>
  </div>
