.lp-top {
	padding: 10px;
	height: 50vh;
	min-height: 500px;
	background-image: url("../../../assets/landingPage_1920.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.lp-slog-1 {
	min-width: 15rem;
	width: 25%;
	position: absolute;
	top: 7rem;
	right: 14rem;
}

.lp-slog-2 {
	min-width: 15rem;
	width: 31%;
	position: absolute;
	top: 16rem;
	right: 1rem;
}

/* Dont show map on mobile */
@media only screen 
  and (max-device-width : 480px) {
.lp-slog-1 {
	display: none;
}

.lp-slog-2 {
	display: none;
}
}