.input-length {
	width: 100%;
}

.input-length-price {
	width: 45%;
}

.label {
	text-align: left;
	width: 100%;
	justify-content: start;
	font-weight: bold;
}

.form {
	transition: 0.4s;
	max-width: 35rem;
	min-width: 20rem;
	opacity: 0.4;
}

.searchFormSmall:hover {
  opacity: 1;
}

.searchForm {
  opacity: 1;
}

.form:hover {
	opacity: 1.0;
}

.form > h3:hover {
    color: rgb(20, 20, 20);
    text-decoration: none;
    transition: all .2s ease-in-out;
	opacity: 1.0;
	cursor: pointer;
}

.inlineCheckBox {
	padding: 0px;
	width: 50%;
	display: inline-block;
}

.form-row {
	padding-left: 6px;
}

.form > h3:active {
  transition:  none;
  text-shadow: 0 0 5px rgb(150, 150, 150);
}

.form-check-input {
	display: inline-block;
}