<div class="card card-body form">
  <h3 class="text-center" (click)="formState()">Search</h3>
  <form *ngIf="this.formShow === true" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label>Location: {{params.location}} </label>
      <select
        class="form-control"
        id="sort"
        name="location"
        [(ngModel)]="params.location"
      >
        <option>Helsinki</option>
        <option>Espoo</option>
        <option>Vantaa</option>
      </select>
    </div> -->

    <div class="form-group">
      <hr>
      <div>
        <label class="label">Price</label><br>
        <div class="d-flex justify-content-between">
        <input class="input-length-price" [(ngModel)]="params.minPrice" type="number" name="minPrice" placeholder="min">
        -
        <input class="input-length-price" [(ngModel)]="params.maxPrice" type="number" name="maxPrice" placeholder="max">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="label">Animal Type</label><br>
      <select class="form-control-block input-length" id="sort" name="sort" [(ngModel)]="params.animalType">
        <option value="Dogs">Dogs</option>
        <option value="Cats">Cats</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label">Sort by</label><br>
      <select class="form-control-block input-length" id="sort" name="sort" [(ngModel)]="params.sortInput">
        <option value="createdAt">Newest first</option>
        <option value="-createdAt">Oldest first</option>
        <option value="costAmount">Cheapest first</option>
        <option value="-costAmount">Most expensive first</option>
      </select>
    </div>

    <!-- <div class="form-check">
      <p>infoa {{params.animalTypeDog}} {{params.animalTypeCat}}</p>
      <input
      (change)="getCheckboxValue($event)"
        class="form-check-input"
        type="checkbox"
        value="Dogs"
        name="Dogs"
        id="Dogs"

      >
      <label>
        Dogs
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="Cats"
        name="Cats"
        id="Cats"
        (change)="getCheckboxValue($event)"
      >
      <label>
        Cats
      </label>
    </div> -->
    <!--
    <div class="form-group">
      <label>Animal Types: {{ params.animalType }} </label><br>
      <span class="mr-2">Dogs</span>
      <input
        class="mr-4"
        type="radio"
        name="Dogs"
        value="Dogs"
        [(ngModel)]="params.animalType"
        #Dogs
      >
      <span class="mr-2">Cats</span>
      <input
        class="mr-4"
        type="radio"
        name="Cats"
        value="Cats"
        [(ngModel)]="params.animalType"
        #Cats
      >
      <span class="mr-2">Other</span>
      <input
        class="mr=4"
        type="radio"
        name="Other"
        value="Other"
        [(ngModel)]="params.animalType"
        #Others
      >
    </div> -->
    <!--
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox1"
        >Dogs</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox2"
          value="option2"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox2"
        >Cats</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox3"
          value="option3"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox3"
        >Other</label>
      </div>
    </div> -->
    <button class="btn btn-block mt-3 btn-primary">Search</button>
  </form>
  <button *ngIf="this.formShow === true" class="btn btn-block mt-3 btn-warning" (click)="clearState()">Reset
    form
  </button>
</div>