.input-length {
	width: 5rem;
}

.label {
	width: 7rem;
	justify-content: start;
	font-weight: bold;
}

.form {
	max-width: 30rem;
	min-width: 20rem;
	opacity: 0.75;
}

.form:hover {
	opacity: 1.0;
}

.form > h3:hover {
	text-decoration: underline;
	opacity: 1.0;
	cursor: pointer;
}
