<div
  class="card card-body form"
  id="searchForm"
>
  <h3
    class="text-center"
    (click)="formState()"
  >Search</h3>
  <form
    *ngIf="this.formShow === true"
    (ngSubmit)="onSubmit()"
  >
    <!-- <div class="form-group">
      <label>Location: {{params.location}} </label>
      <select
        class="form-control"
        id="sort"
        name="location"
        [(ngModel)]="params.location"
      >
        <option>Helsinki</option>
        <option>Espoo</option>
        <option>Vantaa</option>
      </select>
    </div> -->
    <div class="form-group">
      <hr>
      <div class="form-group">
        <label class="label">Location</label>
        <input
          class="form-control"
          ngx-google-places-autocomplete
          [options]='options'
          #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)"
          name="addressInputField"
          [(ngModel)]="addressInputField"
          (change)="checkAddress($event)"
        />
      </div>
      <div>
        <label class="label">Price</label>
        <div class="d-flex justify-content-between">
          <input
            class="form-control"
            [(ngModel)]="params.minPrice"
            type="number"
            name="minPrice"
            placeholder="min"
          >
          <p class="pl-2 pr-2">-</p>
          <input
            class="form-control"
            [(ngModel)]="params.maxPrice"
            type="number"
            name="maxPrice"
            placeholder="max"
          >
        </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="label">Animal Type</label>
      <select
        class="form-control"
        id="sort"
        name="sort"
        [(ngModel)]="params.animalType"
      >
        <option value="Dogs">Dogs</option>
        <option value="Cats">Cats</option>
        <option value="Other">Other</option>
      </select>
    </div> -->
    <div class="form-group">
      <label class="label">Sort by</label>
      <select
        class="form-control"
        id="sort"
        name="sort"
        [(ngModel)]="params.sortInput"
      >
        <option value="-createdAt">Newest first</option>
        <option value="createdAt">Oldest first</option>
        <option value="costAmount">Cheapest first</option>
        <option value="-costAmount">Most expensive first</option>
      </select>
    </div>

    <div class="form-check inlineCheckBox">
      <label class="label">Animal Types</label><br>
      <div class="form-row">
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalTypes($event)"
            type="checkbox"
            value="Dogs"
            name="Dogs"
            id="Dogs"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Dogs"
          >Dogs</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalTypes($event)"
            type="checkbox"
            value="Cats"
            name="Cats"
            id="Cats"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Cats"
          >Cats</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalTypes($event)"
            type="checkbox"
            value="Other"
            name="Other"
            id="Other"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Other"
          >Other</label>
        </div>
      </div>
    </div>


    <div class="form-check inlineCheckBox">
      <!-- <p>infoa {{params.animalTypeDog}} {{params.animalTypeCat}}</p> -->
      <label class="label">Services</label><br>
      <div class="form-row">
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalServices($event)"
            type="checkbox"
            value="Food"
            name="Food"
            id="Food"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Food"
          >Food</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalServices($event)"
            type="checkbox"
            value="Toys"
            name="Toys"
            id="Toys"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Toys"
          >Toys</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            class="custom-control-input"
            (click)="getCheckboxValueAnimalServices($event)"
            type="checkbox"
            value="Walking"
            name="Walking"
            id="Walking"
            #inputs
          >
          <label
            class="custom-control-label mr-2"
            for="Walking"
          >Walking</label>
        </div>
      </div>
    </div>



    <!-- <label class="checkboxLabel">
        <input (click)="getCheckboxValueAnimalTypes($event)" class="form-check-input mr-4" type="checkbox" value="Dogs"
          name="Dogs" id="Dogs">
        Dogs
      </label>
      <label class="checkboxLabel">
        <input class="form-check-input mr-4" type="checkbox" value="Cats" name="Cats" id="Cats"
          (click)="getCheckboxValueAnimalTypes($event)">
        Cats
      </label>
      <label class="checkboxLabel">
        <input class="form-check-input mr-4" type="checkbox" value="Other" name="Other" id="Other"
          (click)="getCheckboxValueAnimalTypes($event)">
        Other
      </label>
    </div> -->
    <!-- <div class="form-check inlineCheckBox"> -->
    <!-- <p>infoa {{params.animalTypeDog}} {{params.animalTypeCat}}</p> -->
    <!-- <label class="label">Services</label><br>
      <label class="checkboxLabel">
        <input (click)="getCheckboxValueAnimalServices($event)" class="form-check-input mr-4" type="checkbox"
          value="Food" name="Food" id="Food">
        Food
      </label>
      <label class="checkboxLabel">
        <input class="form-check-input mr-4" type="checkbox" value="Toys" name="Toys" id="Toys"
          (click)="getCheckboxValueAnimalServices($event)">
        Toys
      </label>
      <label class="checkboxLabel">
        <input class="form-check-input mr-4" type="checkbox" value="Walking" name="Walking" id="Walking"
          (click)="getCheckboxValueAnimalServices($event)">
        Walking
      </label>
    </div> -->
    <!--
    <div class="form-group">
      <label>Animal Types: {{ params.animalType }} </label><br>
      <span class="mr-2">Dogs</span>
      <input
        class="mr-4"
        type="radio"
        name="Dogs"
        value="Dogs"
        [(ngModel)]="params.animalType"
        #Dogs
      >
      <span class="mr-2">Cats</span>
      <input
        class="mr-4"
        type="radio"
        name="Cats"
        value="Cats"
        [(ngModel)]="params.animalType"
        #Cats
      >
      <span class="mr-2">Other</span>
      <input
        class="mr=4"
        type="radio"
        name="Other"
        value="Other"
        [(ngModel)]="params.animalType"
        #Others
      >
    </div>
    <!--
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          value="option1"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox1"
        >Dogs</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox2"
          value="option2"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox2"
        >Cats</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox3"
          value="option3"
        >
        <label
          class="form-check-label"
          for="inlineCheckbox3"
        >Other</label>
      </div>
    </div> -->
    <button class="btn btn-primary mt-3 searchBtn">Search</button>
      <button *ngIf="this.formShow === true" class="btn btn-warning mt-3 clearBtn" (click)="clearState()">Reset
      </button>
  </form>
</div>
