<div class="card card-body mb-3 form">
  <h2 class="text-center">Reset password</h2>
  <form
    class="justify-content-center"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
  >
    <!-- <div class="form-group">
      <label>Reset token</label>
      <input
        type="password"
        [(ngModel)]="resetPassword.secret"
        [ngClass]="{
          'is-invalid': secret.errors && secret.touched
        }"
        class="form-control"
        name="firstName"
        #secret="ngModel"
        required
        minlength="6"
      />
      <div
        [hidden]="!secret.errors?.required"
        class="invalid-feedback"
      >
        Reset Token
      </div>
    </div> -->
    <div class="form-group">
      <label>New password</label>
      <input
        type="password"
        [(ngModel)]="resetPassword.password"
        [ngClass]="{
          'is-invalid': password.errors && password.touched
        }"
        class="form-control"
        name="firstName"
        #password="ngModel"
        required
        minlength="6"
      />
      <div
        [hidden]="!password.errors?.required"
        class="invalid-feedback"
      >
        New password required
      </div>
      <div
        [hidden]="!password.errors?.minlength"
        class="invalid-feedback"
      >
        Password must be at least 6 characters
      </div>
    </div>
    <br>
    <button
      [disabled]="!authForm.form.valid"
      class="btn btn-block btn-primary mb-1"
    >
      Login
    </button>
    <p class="errorState">{{this.errorState}}</p>
  </form>
</div>
